## Sales Data Timestamp Correction Notebook

This notebook was created to solve the issue regarding the Sales Timestamp column.

In [1]:
import pandas as pd
from datetime import datetime
import openpyxl

In [2]:
# Read sales (csv) file
# df = pd.read_csv(r'datasets\sales_data.csv')""

df = pd.read_excel(r'main_workspace.xlsx', sheet_name='Sales_data', engine='openpyxl')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1501 entries, 0 to 1500
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Customer_ID            1501 non-null   int64
 1   Transaction_ID         1501 non-null   int64
 2   Product SKU            1501 non-null   int64
 3   Quantity Sold (units)  1501 non-null   int64
 4   Timestamp              1501 non-null   object
dtypes: int64(4), object(1)
memory usage: 58.8+ KB

In [4]:
# Convert 'Timestamp' column to datetime data type

df['Timestamp'] = pd.to_datetime(df['Timestamp'], errors='coerce')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1501 entries, 0 to 1500
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Customer_ID            1501 non-null   int64
 1   Transaction_ID         1501 non-null   int64
 2   Product SKU            1501 non-null   int64
 3   Quantity Sold (units)  1501 non-null   int64
 4   Timestamp              1501 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(4)
memory usage: 58.8 KB

In [6]:
df.head(3)

,Customer_ID,Transaction_ID,Product SKU,Quantity Sold (units),Timestamp
0,494,1,59,9,2026-02-01 00:00:00
1,1179,2,44,8,2026-02-01 01:00:00
2,923,3,44,2,2026-02-01 02:00:00

In [7]:
# Create sales date column
df['Actual_Date'] = df['Timestamp'].dt.date

In [8]:
df.head(3)

,Customer_ID,Transaction_ID,Product SKU,Quantity Sold (units),Timestamp,Actual_Date
0,494,1,59,9,2026-02-01 00:00:00,2026-02-01
1,1179,2,44,8,2026-02-01 01:00:00,2026-02-01
2,923,3,44,2,2026-02-01 02:00:00,2026-02-01

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1501 entries, 0 to 1500
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Customer_ID            1501 non-null   int64
 1   Transaction_ID         1501 non-null   int64
 2   Product SKU            1501 non-null   int64
 3   Quantity Sold (units)  1501 non-null   int64
 4   Timestamp              1501 non-null   datetime64[ns]
 5   Actual_Date            1501 non-null   object
dtypes: datetime64[ns](1), int64(4), object(1)
memory usage: 70.5+ KB

In [10]:
# Create sales time column
df['Actual_Time'] = df['Timestamp'].dt.time

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1501 entries, 0 to 1500
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Customer_ID            1501 non-null   int64
 1   Transaction_ID         1501 non-null   int64
 2   Product SKU            1501 non-null   int64
 3   Quantity Sold (units)  1501 non-null   int64
 4   Timestamp              1501 non-null   datetime64[ns]
 5   Actual_Date            1501 non-null   object
 6   Actual_Time            1501 non-null   object
dtypes: datetime64[ns](1), int64(4), object(2)
memory usage: 82.2+ KB

In [12]:
df.head(3)

,Customer_ID,Transaction_ID,Product SKU,Quantity Sold (units),Timestamp,Actual_Date,Actual_Time
0,494,1,59,9,2026-02-01 00:00:00,2026-02-01,00:00:00
1,1179,2,44,8,2026-02-01 01:00:00,2026-02-01,01:00:00
2,923,3,44,2,2026-02-01 02:00:00,2026-02-01,02:00:00

In [13]:
# Replace existing 'main_workspace.xlsx' with new/corrected Sales_data
with pd.ExcelWriter('main_workspace.xlsx', engine='openpyxl', mode='a', if_sheet_exists='replace') as writer:
    df.to_excel(writer, sheet_name='Sales_data_new', index=False)