## Sales Data Timestamp Correction Notebook

This notebook was created to solve the issue regarding the Sales Timestamp column.

In [ ]:
import pandas as pd
from datetime import datetime
import openpyxl

In [ ]:
# Read sales (csv) file
df = pd.read_csv(r'datasets\sales_data.csv')

# df = pd.read_excel(r'datasets\workspace.xlsx', sheet_name='Sales_Data', engine='openpyxl')

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1501 entries, 0 to 1500
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Customer_ID            1501 non-null   int64
 1   Transaction_ID         1501 non-null   int64
 2   Product SKU            1501 non-null   int64
 3   Quantity Sold (units)  1501 non-null   int64
 4   Timestamp              1501 non-null   object
dtypes: int64(4), object(1)
memory usage: 58.8+ KB

In [23]:
# Convert 'Timestamp' column to datetime data type

df['Timestamp'] = pd.to_datetime(df['Timestamp'], errors='coerce')

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1501 entries, 0 to 1500
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Customer_ID            1501 non-null   int64
 1   Transaction_ID         1501 non-null   int64
 2   Product SKU            1501 non-null   int64
 3   Quantity Sold (units)  1501 non-null   int64
 4   Timestamp              661 non-null    datetime64[ns]
dtypes: datetime64[ns](1), int64(4)
memory usage: 58.8 KB

In [ ]:
# Save as Excel file (main workspace)
with pd.ExcelWriter('workspace.xlsx', engine='openpyxl') as writer:
    df.to_excel(writer, index=False)